@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto');


/* General CSS*/

body {
background:  url('../assets/images/ba.jpg') fixed;

margin: 0 0 0 0;
font-family: 'Montserrat', sans-serif;
}

label{
   float: left;
}

.page{
    margin: 0px 5% 0px 5%;
}

.hide{
    display: none;
}

/*Classes for the header*/
.header{
    background: #0c4da2;
    color: white;
    width: 100%;
    height: 60px;
    margin: 0 0 0 0;
    position: relative;
    display: block;
}

.to-left{
    float: left;
}

.to-right{
    float: right;
}
.header-left{ 
    width: 30%;
    height: 50px;    
}
.header-right{
    height: 50px;
    width: 70%;
}

.header-left h1{
    margin: 10px 10px 10px 35%;
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
}

.logo{
    margin: 5px 0px 0px 10%;
    cursor: pointer;
}

.li{
    display: inline-block;
    width : 15%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

#home-nav{
    margin-left: 48%;
}
.nav-inactive:hover{
    margin: 0px 0% 0% 0%;
    padding: 25px 0% 15px 0%;
     background-color: #2d2f31e9;
}

.nav-active{
    background-color: #121825e8;     
    margin: 0px 0% 0% 0%;
    padding: 25px 0% 15px 0%;
}
.nav-inactive{
    margin: 0% 0% 0% 0%;
}

.divider-small{
    background-color:#121825e8;
    height: 6px;
}

.header-right i{
    margin: 0px 10px 0px 10px;
}

/* classes of the body*/


.page-body{
    width:100%;
}

.page-body .to-left{
    width: 40%;
    height: 550px;      
    background: #f3f3f3 ;
}

img[alt="app-illustration"]{
    margin-top: 5%;
    width: 90%;
    height: 80%;
}

.page-body .form{
    width: 58%; 
    height: 360px;  
    z-index: 1;
    font-size: 16px;
    color:white;
    background: #f3f3f3;
    padding: 50px 0px 140px 2%;
}

.form-body {
    display: box;
    z-index: 1;
    text-align: center;
    border-radius: 40px;
    background: #0c4da2;
    padding: 20px 5% 20px 5%;
    margin: 0 0 0 15%;
    width : 40%;
}

.move-down-form{
    margin: 50px 0 0 15%;
}
.form input {
    outline: 1;
    background: white;
    width: 100%;
    border: 0;
    border-radius: 15px;
    margin: 0 0 10px ;     
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background-color:  #121825e8; 
    width: 100%;
    border: 0;
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover {
    background: rgb(96, 192, 195)
}

.remember-me{
    width: 100%;
}

.remember-me .rm-label{ 
    left:0;
    float: left !important;
    width:75%;
    text-align: left;
}

.remember-me #remember-me{
    width: 25%;    
    float: right ;
}

.form .message {
    margin: 15px;
    font-size: 15px;
    margin: 5px 0px 0px 0px;
}

.form-body .message a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.form-body .message a:hover {
    color: rgb(96, 192, 195);
}

/*classes for the footer*/

.footer{
    background:#0c4da2;
    color: white;
    width: 100%;    
    height: 200px;
    display: inline-block;
}


.footer .footer-left{
    display: inline-block;
    width : 33%;
    color: white;
    text-decoration: none;
    padding: 30px 0% 0px 0%;
    text-align: left;
}

.footer .footer-center{
    display: inline-block;
    width : 33%;
    color: white;
    text-decoration: none;
    padding: 30px 0% 0px 0%;     
    text-align: left;
}
.footer .footer-right{
    display: inline-block;
    width : 33%;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 30px 0% 0px 0%;
}

.footer .footer-left #content{
    color:white;  
    margin: 10px 15% 0px 15% ;
    font-size:16px;   
}

.footer .footer-left #title{
    margin: 5px 10px 10px 15%;
     display: inline;
    font-weight: 400;
    font-size: 22px;
    color:white;
}

.footer .footer-center #content{
    color:white;  
    margin: 10px 15% 0px 15% ;
    font-size:16px;    
}

.footer .footer-center #title{
    margin: 5px 10px 10px 15%;
     display: inline;
    font-weight: 400;
    font-size: 22px;
    color:white;  
}

ul{
    list-style-type: none;
}

li a{
   text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: bold;
}

/*mobile responsiveness*/

@media screen and (max-width:768px){
    /* General CSS*/
    .page{
        margin: 2px 1% 0px 2%;
    }

    /*Classes for the header*/

    .header{
        height: 50px;
    }

    .logo{
        display: none;
    }
    .header-left{ 
        width: 10%;   
    }
    .header-right{
        width: 65%;
        margin-left: 25%;
    }
    
    .header-left h1{
        margin: 15px 10px 10px 40%;
        font-size: 20px;
    }

    .li{
        width : 20%;
        font-size: 65%;
    }

    #home-nav{
        margin-left: 25%;
    }
    .nav-inactive:hover{
        padding: 25px 0% 10px 0%;
    }
    
    .nav-active{
        padding: 25px 0% 10px 0%;
    }
    .nav-inactive{
        margin: 0% 0% 0% 0%;
    }
    
    .divider-small{
        height: 3px;
    }

    /* classes of the body*/
    .page-body .to-left{
        display: none;
    }

    .page-body .form{
        width: 98%;
        font-size: 12px;
        padding: 50px 0px 140px 2%;
    }
    .form-body{
        width: 70%;
        margin: 0 0 0 9%;
    }

    .form input {
        width: 100%;
        border: 0;
        border-radius: 15px;
        margin: 0 0 10px ;     
        box-sizing: border-box;
        font-size: 14px;
        padding: 10px;
    }
    
    /*classes for the footer*/
    
    .footer{
        width: 100%;    
        height: 100%;
    }
    
    
    .footer .footer-left{
        width : 100%;
        padding: 10px 0% 0px 0%;
    }
    
    .footer .footer-center{
        width : 100%;
        padding: 10px 0% 0px 0%;     
        text-align: left;
    }
    .footer .footer-right{
        width : 100%;
        padding: 0px 0% 0px 0%;
    }
    
    .footer .footer-left #content{ 
        margin: 10px 5% 0px 10% ;
        font-size: 10px;   
    }
    
    .footer .footer-left #title{
        margin: 5px 0 10px 10%;
        font-size: 15px;
    }
    
    .footer .footer-center #content{
        margin: 10px 5% 0px 10% ;
        font-size: 10px;       
    }
    
    .footer .footer-center #title{
        margin: 5px 0 10px 10%;
        font-size: 15px;
    }
    
    ul{
        list-style-type: none;
    }
    
    li a{
        margin: 4%;
        font-size: 10px;
    }        
}
